[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Dedwison/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Dedwison/products-microservice.git
